<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-handel</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">

    <h1><img class="logo" src="images/logo.png" />E-Handel</h1>

    <div class="container"><div class="container_inner default_template_holder clearfix page_container_inner">
        <div class="vc_row wpb_row section vc_row-fluid" style=" padding-top:0px; text-align:left;">
            <div class=" full_section_inner clearfix">
                <div class="vc_col-sm-12 wpb_column vc_column_container">
                    <div class="wpb_wrapper">
                        <div class="projects_holder_outer v3 portfolio_with_space portfolio_standard ">
                            <div class="filter_outer">
                                <div class="filter_holder">
                                    <ul>
                                        <li class="filter active current" data-filter="all"><span>Home</span></li>
                                        <li class="filter" data-filter="portfolio_category_17"><span>About Us</span></li>
                                        <li class="filter" data-filter="portfolio_category_2"><span>Checkout</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </head>
<body>
    <section class="content title">
        <div class="flex fill flex-column">
            <h1 class="aboutUs">About Us</h1>
            <p class="textAboutUs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque nisl at risus consequat
                imperdiet. Donec molestie nisi elit, nec placerat lectus feugiat non. Cras eleifend volutpat pretium.
                Integer ultricies auctor diam, id convallis lorem fermentum in. Mauris volutpat ipsum ipsum, nec elementum
                nibh sollicitudin a. Phasellus interdum nibh in ligula consectetur ultrices. Etiam quis lorem venenatis,
                mollis tortor eget, posuere sapien. Donec lacinia, metus ut viverra eleifend, erat eros fermentum purus,
                sed cursus ligula nulla elementum mauris. Aenean quis elementum ipsum, ac ullamcorper leo. Donec et facilisis
                nibh, eu pretium neque. Aliquam vel turpis sed purus sodales ultrices vel eu tellus. Aliquam erat volutpat.
                Vestibulum faucibus dolor velit, eu luctus magna auctor non. Aenean gravida vehicula nisi, in efficitur diam
                convallis sed. Sed ut enim ut nisi commodo placerat eget at sapien. Aliquam a accumsan arcu.
            </p>
        </div>

    <footer>
        <div>
            <img src="images/facebook.png" alt="facebook logo">
            <img src="images/instagram.png" alt="instagram logo">
            <img src="images/linkedin.png" alt="linkedin logo">
        </div>
        <section>
            <div id="copyright">© Copyright 2021</div>
        </section>
    </footer>
    </section>
</body>
</html>