<link rel="stylesheet" href="checkout.css">

    <form>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="">
    </form>
        </div>
                <h4>Cart
                    <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i>
                        <b>4</b>
                    </span>
                </h4>
                <p><a href="#">Product 1</a> <span class="price">200 kr</span></p>
                <p><a href="#">Product 2</a> <span class="price">500 kr</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>500 kr</b></span></p>
                <input type="submit" value="Make payment" class="btn">
            </div>

        </div>


</div>
</div>


