<link rel="stylesheet" href="test.css">
<link rel="stylesheet" href="style.css">


<section id="services" class="services section-bg">
                <div class="_product-detail-content">
                    <p class="_p-name"> <img class="item1" src="images/item2.png"></p>
                    <div class="_p-price-box">
                        <div class="p-list">
                            <span class="price">699 kr </span>
                        </div>
                        <div class="_p-add-cart">
                        </div>
                        <div class="_p-features">
                            <span> Description About this product:- </span>
                            Solid color polyester/linen full blackout thick sunscreen floor curtain
                            Type: General Pleat
                            Applicable Window Type: Flat Window
                            Format: Rope

                        </div>
                        <form action="" method="post" accept-charset="utf-8">
                            <ul class="spe_ul"></ul>
                            <div class="_p-qty-and-cart">
                                <div class="_p-add-cart">
                                    <button class="btn-theme btn buy-btn" tabindex="0">
                                        <i class="fa fa-shopping-cart"></i> Buy Now
                                    </button>
                                    <button class="btn-theme btn btn-success" tabindex="0">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart
                                    </button>
                                    <input type="hidden" name="pid" value="18" />
                                    <input type="hidden" name="price" value="850" />
                                    <input type="hidden" name="url" value="" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

